.Container{
    padding: 30px 0px;
    height: 100px;
}
.navbar-toggler-icon{
    background-color: red;
}
.nav-item{
    padding: 0px 10px;
}

.nav-item .item:hover{
    background-color: rgb(245, 94, 94);
    border-radius: 4px;
}
