.footer{
    
    background-color: rgb(4, 4, 75);
}
.footer-container{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 2.24rem;
}

.social-icon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.privacy .footer-privacy {
    align-items: center;
    justify-content: center;
}
.footer-end{
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.footer hr{
    padding: 20px;
    width: 100%;
}
@media (max-width: 576px) {
   .footer{
    background-color: rgb(4, 4, 75);
    padding: 2.2rem 2.25rem;
   }
    
    .footer-container{
        color: white;
        display: block;
        text-align: left;
        background-color: rgb(4, 4, 75);
    } 
    .footer-end{
        display: block;
    }
    
  }